<?xml version="1.0"?>
<!--
  ~ Copyright © Ghost Unicorns snc. All rights reserved.
  ~ See LICENSE for license details.
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <webapi_logs>
            <log>
                <enabled>1</enabled>
                <secret_mode>1</secret_mode>
                <secret_words>Cookie
User-Agent
Authorization
username
password
token
email</secret_words>
                <clean_older_than_hours>24</clean_older_than_hours>
            </log>
        </webapi_logs>
    </default>
</config>
