<?xml version="1.0"?>
<!--
  ~ Copyright © Ghost Unicorns snc. All rights reserved.
  ~ See LICENSE for license details.
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="webapi_logs" translate="label" sortOrder="100" showInDefault="1" showInWebsite="0" showInStore="0">
            <class>separator-top</class>
            <label>Webapi Logs</label>
            <tab>advanced</tab>
            <resource>GhostUnicorns_WebapiLogs::reports</resource>
            <group id="log" translate="label" type="text" sortOrder="110" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Webapi Logs</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Webapi Logs</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="disable_ajax_calls" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Disable Webapi logs for AJAX calls</label>
                    <comment><![CDATA[Ajax calls are used in cases of the checkout for example]]></comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="secret_mode" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Secret Mode</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[If enabled, the module will not save any sensitive data, showing only secure logs.]]></comment>
                    <depends>
                        <field id="webapi_logs/log/enabled">1</field>
                    </depends>
                </field>
                <field id="secret_words" translate="label" type="textarea" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Secret Words</label>
                    <comment><![CDATA[A list of secret words, separated by a simple new line]]></comment>
                    <depends>
                        <field id="webapi_logs/log/secret_mode">1</field>
                    </depends>
                </field>
                <field id="clean_older_than_hours" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Clean older than hours</label>
                    <depends>
                        <field id="webapi_logs/log/enabled">1</field>
                    </depends>
                    <validate>validate-number validate-greater-than-zero</validate>
                </field>
            </group>
        </section>
    </system>
</config>
